{% extends "layout.html" %}
{% load static %}

{% block title %}{{ block.super}} - Configure access to eBird data{% endblock %}

{% block content %}

<h2>Configure access to eBird data</h2>

<p>Unfortunately, eBird does not have an API. To import your data to Feathers in your Cap, you must generate an export from eBird.</p>

<p>Explanation here</p>

<form action="{% url 'configure_ebird' %}" method="post">
    {% csrf_token %}
    {{ url_form }}
    <input type="submit" name='url' value="Fetch from eBird" />
</form>

<p>If you have already downloaded the eBird export file, you can upload the ZIP file or CSV file here.</p>

<form action="{% url 'configure_ebird' %}" method="post">
    {% csrf_token %}
    {{ file_form }}
    <input type="submit" name='file' value="Upload eBird export" />
</form>

{% endblock %}
