{% extends "layout.html" %}
{% load static %}

{% block title %}{{ block.super}} - Configure access to eBird data{% endblock %}

{% block content %}

<h2>Configure access to eBird data</h2>

<p>Unfortunately, eBird does not have an API. To import your data to Feathers in your Cap, you must generate an export from eBird.</p>

<p>Explanation here</p>

<form action="{% url 'configure_ebird' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Fetch from eBird" />
</form>

{% endblock %}
