{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% trans 'Feathers in Your Cap' %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url 'index' %}"><img src="{% static 'logo.png' %}"></a>
      <h1><a href="{% url 'index' %}">{% trans 'Feathers in Your Cap' %}</a></h1>

      {% if user.is_authenticated %}
      <nav>
        <ul id='nav'>
          <li><a href="{% url 'progress_list' %}">{% trans 'Achievements' %}</a></li>
          <li><a href="#">{% trans 'Users' %}</a></li>
          <li><a href="#">{% trans 'Leaderboard' %}</a></li>
        </ul>
      </nav>
      {% endif %}

      <ul id='login'>
        {% if user.is_authenticated %}
        {% url 'configure_ebird' as configure_ebird_url %}
        <li>{% blocktrans with username=user.get_username url=configure_ebird_url %}Hello, <a href="{{ url }}">{{ username }}</a>{% endblocktrans %}</li>
        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
        {% else %}
        <li><a href='#'>{% trans 'Create Account' %}</a></li>
        <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
        {% endif %}
      </ul>

    </header>

    <main>
      {% block content %}
      <img src="{% static 'logo.png' %}" style='float: right;'>
      {% blocktrans trimmed %}
      <p>Feathers in your Cap is a birdwatching achievements site powered by eBird.</p>

      <p>Birding already has one major achievement: the lifelist! We're just adding a few more. Have you seen all the common birds in your area? How about a bird from every taxonomic order? It's harder than you might think!  How many national birds have you seen in that country?</p>

      <p>Want to know what achievements you've earned? Want to know how you compare to your birding friends? Sign up and find out!</p>

      <h3>Why?</h3>

      <p>Feathers in your Cap was created by Dale Floer and Holly Becker. We're both video gamers, and soon after we got into birding we knew it was missing something: achievements! Since achievements other than lifelist tracking didn't exist, we decide to create it.</p>
      {% endblocktrans %}

      {% endblock %}
    </main>


    <footer>
      <p>{% blocktrans with holly_url='http://hollybecker.net' dale_url='http://dalefloer.com' gpl_url='https://www.gnu.org/licenses/agpl-3.0.html' code_url='https://github.com/Hwesta/feathers-in-your-cap/' trimmed %}
      Created by <a href='{{ holly_url }}'>Holly Becker</a> and <a href='{{ dale_url }}'>Dale Floer</a>.  Licensed under the <a href='{{ gpl_url }}'>AGPL</a>. Code available on <a href='{{ code_url }}'>GitHub</a>
      {% endblocktrans %}</p>

      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
          {% endfor %}
        </select>
        <input type="submit" value="Go" />
      </form>

    </footer>

  </body>
</html>